# Marketing Digital.
```
Você aprende a criar sites, aplicativos e softwares, mas será que você sabe oferecer esses produtos para clientes em potencial?

```
# Marketing Digital Produtos.

```
Conhece as técnicas para divulgação de produtos e serviços pela Internet?

```
# Marketing Digitl é  Resultado.
```

  Consegue monitorar o resultado ou ficar ligado no que estão falando de você nas Redes Sociais?
```
# Marketing Digitl é  Tecnologia  da Informação.

```
 Pois saiba que aprender Marketing é algo muito importante para profissionais do ramo de Tecnologia da Informação.
```
